@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100px;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.input__box {
  position: relative;
  width: 100%;
}
.input__box input,
.input__box button {
  position: relative;
  width: 100%;
  font-size: 1.2em;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 12px 20px;
  outline: none;
  box-shadow: none;
}
.input__box button {
  font-size: 1.2em;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
.input__box input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.input__links {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.input__links a {
  text-decoration: none;
  color: #fff;
}
.container i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.container:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
.container i:nth-child(1) {
  border-radius: 39% 61% 27% 73% / 57% 29% 71% 43%;
  animation: animate 10s linear infinite;
}
.container i:nth-child(2) {
  border-radius: 23% 77% 31% 69% / 71% 30% 70% 29%;
  animation: animate 11s linear infinite;
}
.container i:nth-child(3) {
  border-radius: 40% 56% 17% 84% / 37% 65% 34% 63%;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
